@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body {
    font-family: 'Istok Web', sans-serif;
}
.site {
    margin: 0 auto;
}
img {
    width: 300px;
}
.contact {
    text-align: center;
    font-size: 40px;
}
.contact a, .contact a:visited {
    text-decoration: none;
    color: #333;
}
code {
    padding: 3px;
    background-color: #eee;
    border-radius: 2px;
}
@media screen and (min-width: 900px) {
    .site {
        width: 800px;
        margin-top: 50px;
    }
    .avatar {
        float: left;
    }
    .name {
        position: relative;
        float: right;
        margin-right: 18%;
        margin-top: 15%;
    }
    .content {
        clear: both;
        padding-top: 20px;
    }
}
@media screen and (max-width: 899px) {
    .site {
        width: 600px;
        text-align: center;
    }
}
